includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: 4
  tipsOfTheDay: false
  reportUnmatchedIgnoredErrors: false
  scanDirectories:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
